body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-image: url('./img/footer.jpg');
  background-position: center;
  background-size: contain;
}

.memoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 20%;
}

.memoryGame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  width: 600px;
  height: 600px;
}

.memoryRow {
  width: 600px;
  margin: 0;
}

.memoryBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: gray;
}

.memoryBox > div {
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

.matched {
  opacity: 0.25;
}

.hidden:not(.matched) {
  display: none;
}

.snatch {
  background-image: url('./img/snatch.jpg');
}

.squat {
  background-image: url('./img/squat.jpg');
}

.handstand {
  background-image: url('./img/handstand.jpg');
}

.doubleunder {
  background-image: url('./img/doubleunder.jpg');
}

.wallball {
  background-image: url('./img/wallball.jpg');
}

.pullup {
  background-image: url('./img/pullup.jpg');
}

.muscleup {
  background-image: url('./img/muscleup.png');
}

.boxjump {
  background-image: url('./img/boxjump.jpg');
}
